<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <h1>Welcome, {{ admin.username }}</h1>
    <p>
      This account is designated as an admin, which implies it will possess
      specific functionalities. These include creating, updating, and deleting
      halls, confirming reservations and events, as well as responding to
      messages from clients.
    </p>
  </div>
  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header">
        <ion-label>Client Requests</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-card
          color="warning"
          *ngFor="let request of userManagementService.clientPending$ | async"
        >
          <ion-card-header>
            <ion-card-title>{{ request.hallName }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-col size="3">
                <ion-icon name="person-outline"></ion-icon>
              </ion-col>
              <ion-col>
                <ion-label>{{ request.clientName }}</ion-label>
              </ion-col>
            </ion-grid>
            <ion-grid>
              <ion-col size="3">
                <ion-icon name="calendar-number-outline"></ion-icon>
              </ion-col>
              <ion-col>
                <ion-label
                  >{{ request.start_date }} - {{ request.end_date }}</ion-label
                >
              </ion-col>
            </ion-grid>
            <ion-grid>
              <ion-col size="3">
                <ion-icon name="time-outline"></ion-icon>
              </ion-col>
              <ion-col>
                <ion-label>{{ request.time }}</ion-label>
              </ion-col>
            </ion-grid>
          </ion-card-content>
          <ion-button (click)="approveRequest(request)" color="success"
            >Approve</ion-button
          >
          <ion-button (click)="rejectRequest(request)" color="danger"
            >Reject</ion-button
          >
        </ion-card>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
