<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home Client</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <h1>Welcome, {{ client.username }}</h1>
    <p>
      This account is tailored for clients, offering a versatile range of
      functionalities. It empowers users to effortlessly reserve halls, manage
      events by creating, updating, and deleting them, and request reservations
      and events. Furthermore, the account is adept at handling requests from
      guests, providing a comprehensive solution for seamless event management.
    </p>
  </div>
  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header">
        <ion-label>Pending Requests</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-card
          color="medium"
          class="p-4"
          *ngFor="let pendingRequest of pendingRequests"
        >
          <ion-card-title>{{pendingRequest.hallName}}</ion-card-title>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col size="1">
                  <ion-icon name="calendar-number-outline"></ion-icon>
                </ion-col>
                <ion-col size="8"
                  >{{pendingRequest.start_date}} -
                  {{pendingRequest.end_date}}</ion-col
                >
              </ion-row>
              <ion-row>
                <ion-col size="1"
                  ><ion-icon name="time-outline"></ion-icon
                ></ion-col>
                <ion-col size="8">
                  {{pendingRequest.start_time}} - {{pendingRequest.end_time}}
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header">
        <ion-label>Approve Requests</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-card
          color="success"
          class="p-4"
          *ngFor="let approveRequest of approveReqeusts"
        >
          <ion-card-title>{{approveRequest.hallName}}</ion-card-title>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col size="1">
                  <ion-icon name="calendar-number-outline"></ion-icon>
                </ion-col>
                <ion-col size="8"
                  >{{approveRequest.start_date}} -
                  {{approveRequest.end_date}}</ion-col
                >
              </ion-row>
              <ion-row>
                <ion-col size="1"
                  ><ion-icon name="time-outline"></ion-icon
                ></ion-col>
                <ion-col size="8">
                  {{approveRequest.start_time}} - {{approveRequest.end_time}}
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
          <ion-button (click)="createEvent(approveRequest)">Create</ion-button>
        </ion-card>
      </div>
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header">
        <ion-label>reject Requests</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-card
          color="danger"
          class="p-4"
          *ngFor="let rejectRequest of rejectRequests"
        >
          <ion-card-title>{{rejectRequest.hallName}}</ion-card-title>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col size="1">
                  <ion-icon name="calendar-number-outline"></ion-icon>
                </ion-col>
                <ion-col size="8"
                  >{{rejectRequest.start_date}} -
                  {{rejectRequest.end_date}}</ion-col
                >
              </ion-row>
              <ion-row>
                <ion-col size="1"
                  ><ion-icon name="time-outline"></ion-icon
                ></ion-col>
                <ion-col size="8">
                  {{rejectRequest.start_time}} - {{rejectRequest.end_time}}
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </div>
    </ion-accordion>
    <ion-accordion value="fourth">
      <ion-item slot="header">
        <ion-label>Event Requests</ion-label>
      </ion-item>

      <div class="ion-padding" slot="content">
        <ion-card
          color="warning"
          class="p-4"
          *ngFor="let eventRequest of eventRequsts"
        >
          <ion-card-title>{{eventRequest.eventName}} </ion-card-title>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col size="1">
                  <ion-icon name="person-outline"></ion-icon>
                </ion-col>
                <ion-col>{{eventRequest.message}}</ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
          <ion-button (click)="approveGuesttRequest(eventRequest)"
            >Approve</ion-button
          >
          <ion-button (click)="rejectGuestRequest(eventRequest)"
            >Reject</ion-button
          >
        </ion-card>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
