<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>message replay</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class=""></div>
    <h2>Reply Message for: {{clientName}}</h2>
    <h5>Headline: {{headLine}}</h5>
    <form action="">
      <ion-label class="form-label"> Message: </ion-label>
      <textarea type="text" class="form-control"> </textarea>
      <ion-button class="mt-3">Send</ion-button>
    </form>
  </div>
</ion-content>
